*{
    margin:0;
    padding:0;
    --text-color:#837a58;
    --header-color:#06101b;  
    --white-color: #ffff;
    --background-color:#06101b;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;/*độ cao chữ 16px*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;/*cuộn mượt*/
}
.border-left-bottom {
    border: 1px solid var(--text-color);
    width:10px;
    height:10px;
}
/* Header */
.header{
    width: 100%;
    height:75px;
    background-color:var(--header-color);
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
/* .navbar{
    
} */
.navbar__list{
    width: 789px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}
/* .navbar__list-iteam{
    
} */
.navbar__list-iteam-link{
    display: inline-block;
    color:var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 350;
    line-height: 7.5rem;
    padding:0 10px;
}
.navbar__list-iteam-link:hover{
    color: var(--white-color);
}

/* Slider */
.slider{
    margin-top: 75px;
    padding-top: 60%;
    background: url('../img/slider.png') top center /cover no-repeat;
    background-attachment:fixed;/*fix image while scroll*/
    position: relative;
}
.banner__img{
    background:url('../img/banner.png') top center /cover no-repeat;
    width:362px;
    height:440px;
    position: absolute;
    top:48%;
    right: 50%;
    transform:translate(50%, -50%);
    color: var(--white-color);
    text-align: center;
}
.banner__img::before{
    content:"";
    position: absolute;
    border: 1px solid var(--text-color);
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    width:85%;
    height:85%;
}
.banner__img::after{
    content:"";
    position: absolute;
    border: 1px solid var(--text-color);
    top:50%;
    right:50%;
    transform:translate(50%,-50%);
    width:80%;
    height:90%;
}
.banner__img-direc{
    position: absolute;
    top: 50%;
    right:50%;
    transform: translate(50%,-50%);
}
.banner__img-header{
    color: var(--text-color);
    letter-spacing: 0.5rem;
    font-size:1.6rem;
    line-height:1.6rem;   
    padding-bottom: 25px;
}
.banner__img-header-text{
    position: relative;
    padding-right: 15px;
}
.banner__img-header-text::before{
    content: "";
    position:absolute;
    border-right: 1px solid var(--text-color);
    top:3px;
    left:5px;
    height:70%;
    width:100%;
}
.banner__img-header-num{
    padding-left: 15px;
}
.banner__img-logo-num{
    font-family: 'Domine', serif;
    line-height:10.2rem;
    font-size: 10.2rem;
    letter-spacing: 0.5rem;
}
.banner__img-logo-text{
    display:block;
    font-size: 84px;
    line-height:84px;
    padding-bottom: 8px;
}
.banner__img-address,
.banner__img-local,
.banner__img-time{
    display:block;
    color: var(--text-color);
    font-size:1.6rem;
    font-weight:350;
    padding:8px 0;
}

/* Container About */
.container__about{
    background-color:var(--background-color);
    position: relative;
    height:665px;
}
.container__about-background{
    background: url('../img/background.png') ;
    padding-top: 50%;
}
.container__about-all{
    position:absolute;
    top:26%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.container__about-header{
    font-size:1.6rem;
    width:651px;
}
.container__about-header-text{
    display:block;
    color: var(--text-color);
    line-height:2rem;
    padding-bottom: 15px;
    letter-spacing: 0.7rem;
    font-weight: 450;
}
.container__about-header-slogan-1{
    color: var(--white-color);
    display:block;
    font-family: 'Nunito', sans-serif;
    font-size:3.2rem;
    line-height:3.6rem;
    letter-spacing: 1rem;
}
.container__about-header-slogan-2{
    color: var(--white-color);
    display:block;
    font-family: 'Nunito', sans-serif;
    font-size:3.2rem;
    line-height:5.5rem;
    padding-bottom: 32px;
    letter-spacing: 1rem;
}
.container__about-header-decrip{
    display:block;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height:2.8rem;
    padding-bottom: 46px;
}
.container__about-down{
    text-decoration: none;
}
.container__about-down-icon{
    font-size: 5rem;
    color: var(--text-color);    
}

/* Container Decription */
.container__decription{
    background-color:var(--background-color);
    height:665px;
    position: relative;
}
.container__decription-background{
    background: url('../img/background.png') ;
    padding-top: 50%;
}
.container__decription-img{
    position:absolute;
    top:17%;
    height:451px;
    width:493px;
    object-fit:cover;
    padding-left: 44px;
}
.container__decription-all{
    position:absolute;
    top: 22%;
    left: calc(100% - 493px - 44px - 52px);
    width:425px;
}
.container__decription-all::before{
    content: "";
    position:absolute;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    top:43%;
    left:-13%;
    height:200px;
    width: 242px;
}
.container__decription-all::after{
    content: "";
    position:absolute;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    top:43%;
    left:-11%;
    height:207px;
    width: 234px;
}
.container__decription-header{
    color: var(--text-color);
    display:block;   
    font-size:1.5rem;
    line-height:1.6rem;
    font-weight:450;
    letter-spacing:0.7rem;
    padding-bottom: 18px;
}
.container__decription-sologan{
    color: var(--white-color);
    display:block;
    font-family: 'Nunito', sans-serif;
    font-size:3rem;
    line-height: 4rem;
    letter-spacing:1rem;
    font-weight:600;
    padding-bottom: 11px;
}
.container__decription-text{
    color: var(--text-color);
    font-size:1.5rem;
    line-height:3rem;
    font-weight:350;
    letter-spacing:0.1rem;
    padding-left: 1px;
}

/* Container Next Show */
.container__next-show{
    background-color:var(--background-color);
    height:665px;
    position: relative;
}
.container__next-show-background{
    background: url('../img/background.png') ;
    padding-top: 50%;
}
.container__next-show-all{
    position:absolute;
    top: 22%;
    right:calc(450px + 44px + 154px + 40px);
    width:425px;
}
.container__next-show-all::before{
    content: "";
    position:absolute;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    top:43%;
    left:-13%;
    height:200px;
    width: 242px;
}
.container__next-show-all::after{
    content: "";
    position:absolute;
    border-left: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    top:43%;
    left:-11%;
    height:207px;
    width: 234px;
}
.container__next-show-music{
    color: var(--text-color);
    display:block;   
    font-size:1.5rem;
    line-height:1.6rem;
    font-weight:450;
    letter-spacing:0.7rem;
    padding-bottom: 18px;
}
.container__next-show-text{
    color: var(--white-color);
    display:block;
    font-family: 'Nunito', sans-serif;
    font-size:3rem;
    line-height: 4rem;
    letter-spacing:1rem;
    font-weight:600;
    padding-bottom: 11px;
}
.container__next-show-decrip{
    color: var(--text-color);
    font-size:1.5rem;
    line-height:3rem;
    font-weight:350;
    letter-spacing:0.1rem;
    padding-left: 1px;
}
.container__next-show-img{
    position:absolute;
    top:8%;
    right:0;
    height:435px;
    width:493px;
    object-fit:cover;
    padding-right: 44px;
}

/* Container Image */
.container__image{
    background: url('../img/drink.png') top center /cover no-repeat;
    padding-top: 50%;
    background-attachment: fixed;
}